body {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.main-form button {
  padding: 5px 20px;
}

.options {
  display: flex;
  justify-content: space-around;
}

.bookmark-info {
  height: 50px;
}

.bookmark form {
  display: flex;
}

.bookmark form div:nth-child(*) {
  flex: 1/2;
}

.hidden {
  display: none;
  border: solid;
}

.bookmark {
  border: solid;
  border-width: 1px;
}

/* .bookmark input {
  border: none;
} */

/* select {
  text-align-last: center;
  width: 100px;
}
